# Default
NODE_ENV=enviroment # (production | development | test | provision)
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE
PORT=3000
JWT_SECRET=SECRET
SALT_ROUNDS=10

# Test
TEST_USER_NAME=TestUser
TEST_USER_EMAIL=testuser@nest.io
TEST_USER_PASSWORD=testuserpassword
